div{
  margin:20px;

}

.subtitle{
  color:#008f39;
  font-size: 20px;
  font-weight: 700;
  
  
  
}
.titleOne > h1{
  font-weight: bold;
  color: #5b5b5b;
  margin-bottom: 35px;

}

.subTwo > h2{
  font-weight: 600;

  color: #5b5b5b;
}
.navbar{
  margin-bottom: 35px;

}
.bellop{
  position: absolute;
  right: 0%;
}
.outop{
position: absolute;
right: 4%;
}